{% extends "base.html" %}
{% from 'macros.html' import render_field %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Update the register</h1>
    </div>
    <form action="/" method="post" role="form">
      {{ render_field(form.title_number) }}
      {{ render_field(form.address) }}
      {{ render_field(form.extent) }}
      <fieldset>
        <legend>Registered owners</legend>
        {% for registered_owner_form in form.registered_owners %}
          {{ render_field(registered_owner_form['name']) }}
          {{ render_field(registered_owner_form.address) }}
        {% endfor %}
      </fieldset>
      <fieldset>
        <legend>Lenders</legend>
        {% for lender_form in form.lenders %}
          {{ render_field(lender_form['name']) }}
        {% endfor %}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
{% endblock %}
